{% extends 'base.html' %}
{% block content %}
<div class="p-3">
<h2>Devices</h2>
<a class="btn btn-primary btn-sm" role="button" href="{% url 'hive:endpoint_qr' %}">Migration QR Code</a>
<table class="table table-striped">
  <tr><th>Status</th><th>Moxie Devices</th><th>Schedule</th></tr>
  {% for device in recent_devices %}
  <tr><td>
    {% if device.device_id in live %}
    <span class="badge text-bg-success">Online</span>
    {% else %}
    <span class="badge text-bg-secondary">Offline</span>
    {% endif %}
  </td><td><a href="{% url 'hive:moxie' device.pk %}">{{device}}</a></td><td>{{device.schedule}}</td></tr>
  {% endfor %}
</table>
<br>
<h2>Schedules</h2>
<table class="table table-striped">
  <tr><th>Name</th></tr>
  {% for s in schedules %}
  <tr><td>{{s.name}}</td></tr>
  {% endfor %}
</table>
<br>
<h2>Conversations</h2><a class="btn btn-primary btn-sm" role="button" href="{% url 'hive:reload_database' %}">Refresh from DB</a>
<table class="table table-striped">
  <tr><th>Module ID</th><th>Content ID</th><th></th></tr>
  {% for s in conversations %}
  <tr><td>{{s.module_id}}</td><td>{{s.content_id}}</td><td><a href="{% url 'hive:interact' s.pk %}">Interact</a></td></tr>
  {% endfor %}
</table>
</div>
{% endblock %}